<% content_for :title, "Houses of Hogwarts" %>

<table>
<tr>
<th>Name</th>
<th>Enrollment</th>
</tr>
<% @houses.each do |house| %>
<tr>
<td><a href="houses/<%= house.id %>"><%= house.name %></a></td>
<td><%= house.enrollment(house.id).count %></td>
</tr>
<% end %>
</table>