<% content_for :title, "#{@house.name} Roster" %>

<%= image_tag "#{@house.name.downcase}.png" %>

<ul>
<% @house.enrollment(@house.id).each do |student| %>

<li><a target="_blank" href="../students/<%= student.id %>"><%= student.name %></a></li>

<% end %>
</ul>