<% content_for :title, "Welcome to Hogwarts" %>


<h2><a href="students">Students</a></h2>
<%= image_tag "wizard.gif" %>
<h2><a href="houses">Houses</a></h2>

<audio controls autoplay>
<source src="/assets/hp.mp3" type="audio/mpeg">
</audio>